<ion-header>
  <ion-navbar>
    <ion-title>Routes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Swipe left to interact
    </ion-list-header>
    <ion-item-sliding #slidingItem *ngFor="let route of routes; let i = index">
      <ion-item>
        <ion-icon name="md-map" item-left></ion-icon>
        <h2>{{ route.name }}</h2>
        <p>{{ route.date | date:'yyyy/MM/dd - HH:mm' }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="promptDeleteRoute(route, i, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
        <button ion-button color="primary" (click)="promptFlyRoute(route, i, slidingItem)">
          <ion-icon name="plane"></ion-icon>
          Fly it!
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
