<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Navigation" tabIcon="md-paper-plane"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Routes" tabIcon="md-map"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="md-cog"></ion-tab>
</ion-tabs>
