<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Done</button>
    </ion-buttons>
    <ion-title>Estimates</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-padding>
    <ion-label>Enter UTC start time</ion-label>
    <ion-datetime displayFormat="HH:mm:ss" (ionChange)="calculateEstimates()" [(ngModel)]="startGateTime"></ion-datetime>
  </ion-item>
  <ion-row *ngFor="let g of flightPlan.gates; let i = index" no-padding>
    <ion-col col-6 text-left no-padding>
      <ion-item no-padding no-lines>
        <ion-label>
          Waypoint {{ g.nr }}
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col col-6 text-right no-padding>
      <ion-item no-padding no-lines>
        <ion-label>PR.</ion-label>
        <ion-checkbox [checked]="g.proc" (ionChange)="toggleProcedure($event, i)"></ion-checkbox>
        <ion-datetime *ngIf="g.eta" disabled displayFormat="HH:mm:ss" [ngModel]="g.eta | date:'HH:mm:ss':'+0000'"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
