<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="settings" no-lines>
    <ion-list-header>
      Cruise speed [km/h]
      <ion-badge item-end color="primary">{{ settings.SPEED_KMPH }}</ion-badge>
    </ion-list-header>
    <ion-item no-padding>
      <ion-range min="60" max="260" step="5" snaps="true" color="primary" [(ngModel)]="settings.SPEED_KMPH">
        <ion-icon range-left small color="primary" name="md-speedometer"></ion-icon>
        <ion-icon range-right color="primary" name="md-speedometer"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-list-header>
      Gate radius [m]
      <ion-badge item-end color="danger">{{ settings.GATE_RADIUS_METERS }}</ion-badge>
    </ion-list-header>
    <ion-item no-padding>
      <ion-range min="50" max="400" step="10" snaps="true" color="danger" [(ngModel)]="settings.GATE_RADIUS_METERS">
        <ion-icon range-left small color="danger" name="md-flag"></ion-icon>
        <ion-icon range-right color="danger" name="md-flag"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-list-header>
      Procedure time [sec]
      <ion-badge item-end color="secondary">{{ settings.PROCEDURE_TIME_SECONDS }}</ion-badge>
    </ion-list-header>
    <ion-item no-padding>
      <ion-range min="30" max="120" step="10" snaps="true" color="secondary" [(ngModel)]="settings.PROCEDURE_TIME_SECONDS">
        <ion-icon range-left small color="secondary" name="md-time"></ion-icon>
        <ion-icon range-right color="secondary" name="md-time"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-list-header>
      Aircraft icon
    </ion-list-header>
    <ion-item>
      <ion-row>
        <ion-col text-center>
          <button ion-button icon-only block round color="orange">
            <ion-icon name="md-plane"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button icon-only block round outline color="orange">
            <ion-icon name="md-jet"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button icon-only block round outline color="orange">
            <ion-icon name="md-paper-plane"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button icon-only block round outline color="orange">
            <ion-icon name="md-navigate"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button icon-only block round outline color="orange">
            <ion-icon name="md-arrow-up"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-list-header>
      Aircraft icon color
      <ion-badge item-end color="orange"></ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-row>
        <ion-col text-center>
          <button ion-button round class="round" color="orange"></button>
        </ion-col>
        <ion-col text-center>
          <button ion-button round class="round" color="magenta"></button>
        </ion-col>
        <ion-col text-center>
          <button ion-button round class="round" color="purple"></button>
        </ion-col>
        <ion-col text-center>
          <button ion-button round class="round" color="blue"></button>
        </ion-col>
        <ion-col text-center>
          <button ion-button round class="round" color="green"></button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button icon-right block (click)="promptSaveSettings()">
          Save Settings
          <ion-icon name="md-done-all"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
