<ion-content>
  <table>
    <tbody>
      <tr>
        <td><p><i>WPT</i><br>{{ nextGate?.nr || '-' }}</p></td>
        <td><p><i>ETA</i><br>{{ nextGate?.eta | date:'HH:mm:ss':'+0000' || '-'}} <sup>UTC</sup></p></td>
        <td><p><i>DST</i><br>{{ instruments.dst / 1000 | number:'1.0-1' || '-' }} <sup>km</sup></p></td>
      </tr>
      <tr>
        <td><p><i>SPD</i><br>{{ instruments.spd | number:'1.0-0' || '-' }} <sup>km/h</sup> <span>{{ instruments.spdc > 0 ? '+' : '' }}{{ instruments?.spdc | number:'1.0-0' }}</span></p></td>
        <td><p><i>HDG</i><br>{{ instruments.hdg | number:'1.0-0' || '-' }} &deg;</p></td>
        <td><p><i>ALT</i><br>{{ instruments.alt | number:'1.0-0' || '-' }} <sup>m</sup></p></td>
      </tr>
      <tr><td colspan="3"><p><i>TIME:</i><br>{{ timeNow | date:'HH:mm:ss':'+0000' }} <sup>UTC</sup></p></td></tr>
    </tbody>
  </table>
  <div #map id="map"></div>
  <ion-fab bottom left>
    <button ion-fab mini [color]="navigating ? 'secondary' : 'danger'" (click)="navigate()">
      <ion-icon name="md-navigate"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab #fab bottom right [ngClass]="navigating ? 'hide-fab' : 'show-fab'">
    <button ion-fab mini (click)="setRouteEditable(!edititable)">
      <ion-icon name="md-create"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="addGate()">
        <ion-icon name="md-add"></ion-icon>
      </button>
      <button ion-fab (click)="deleteGate()">
        <ion-icon name="md-undo"></ion-icon>
      </button>
      <button ion-fab (click)="setEstimates()">
        <ion-icon name="md-time"></ion-icon>
      </button>
      <button ion-fab (click)="switchMapType()">
        <ion-icon name="md-map"></ion-icon>
      </button>
      <button ion-fab (click)="promptDeleteRoute()">
        <ion-icon name="md-trash"></ion-icon>
      </button>
      <button ion-fab (click)="saveRoute()">
        <ion-icon name="md-bookmark"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
