page-navigation {
  table {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    pointer-events: none;
    color: color($colors, primary);
    width: 96%;
    height: 15%;
    margin: 2%;
    border-radius: 2px;

    td {
      text-align: center;
      width: 33.333333%;
      padding: 2px 0;

      p {
        margin: 0;

        i {
          color: color($colors, gray);
        }

        span {
          color: color($colors, danger);
        }
      }
    }
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .show-fab {
    transform: translateX(0);
    opacity: 1;
    transition: 100ms ease-out;
  }

  .hide-fab {
    transform: translateX(100px);
    opacity: 0;
    transition: 100ms ease-in;
  }

}
